.cta-wrapper {
    background-position: top;

    h1 {
        @media (max-width: 767px) {
            font-size: 32px;
            line-height: 1.3;
        }
    }

    &.style-2 {
        @include overlay($theme-color, 0.5);
    }

    i {
        margin-left: 6px;
    }
}

.video-pop-up-wrapper {
    @media (min-width: 1400px) {
        padding: 200px 0px;
    }
}

.featured-video-wrapper {
    padding: 150px 0px;

    @media (max-width: 767px) {
        padding: 100px 0px;
    }   
}


.skills-video {
    height: 430px;
}

.cta-banner-box {
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: -185px;
    z-index: 2;
    position: relative;

    @media (max-width: 991px) {
        margin-bottom: -120px;
        padding-right: 15px;
        padding-left: 15px;
    }   
}