
.project-details-contents {
    border-bottom: 1px solid #EBEDF2;
}

.single-project-card { 
    position: relative;
    height: 540px;
    width: 100%;
    background-size: cover;
    border-radius: 8px;
    display: flex !important;
    flex-wrap: wrap;
    align-items: flex-end;
    padding: 30px;
    overflow: hidden;
    margin-top: 30px !important;

    @media (max-width: 991px) {
        height: 350px;
    }

    @media (max-width: 767px) {
        height: 300px;
    }

    &:hover {
        &::before {
            opacity: 0.4;
            transform: scale(1);
            visibility: visible;
        }

        .plus-link { 
            top: 50%;
            opacity: 1;
            visibility: visible;
        }
    }

    &::before {
        position: absolute;
        left: 0;
        top: 0;
        content: "";
        background: $second-color;
        opacity: 0;
        visibility: hidden;
        width: 100%;
        height: 100%;
        transform: scale(0.8);
        transition: all .35s ease-in-out;
    }

	.plus-link { 
        width: 60px;
        height: 60px;
        text-align: center;
        border-radius: 50%;
        line-height: 60px;
        border: 2px solid #fff;
        font-size: 24px;
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);
        color: #fff;
        z-index: 2;
        transition: all .5s ease-in-out;
        opacity: 0;
        visibility: hidden;

        &:hover {
            background: $theme-color;
            color: $heading-color !important;
            border-color: $theme-color;
        }
	}

	.content { 
        position: relative;
        z-index: 1;

		h3 { 
            margin-bottom: 5px;
            color: #fff;
		}

        p {
            color: #fff;
        }
	}
}

.project-showcase-carousel-active {
     /* the slides */
   .slick-slide {
        margin: 0 15px;
    }
    /* the parent */
    .slick-list {
        margin: 0 -15px;
    }
}

.case-study-carousel-arrow {
    
    @media (max-width: 767px) {
        text-align: center;
    }

    div {
        width: 52px;
        display: inline-block;
        height: 52px;
        border-radius: 50%;
        line-height: 52px;
        border: 1px solid rgba($color: #6D6D6C, $alpha: 0.80);
        background: transparent;
        transition: all .3s ease-in-out;
        color: #6D6D6DCC;
        font-size: 20px;
        text-align: center;
        cursor: pointer;

        @media (max-width: 767px) {
            height: 40px;
            width: 40px;
            line-height: 40px;
            font-size: 15px;
        }

        &:hover {
            color: $heading-color;
            background: $theme-color;
            border-color: $theme-color;
        }
    }
}

.case-cat-filter {

    button {
        border: none;
        background-color: #fff;
        display: inline-block;
        padding: 12px 20px;
        line-height: 1;
        transition: all .3s ease-in-out;            
        margin: 0px 5px;
        font-weight: 600;
        box-shadow: 0px 16px 32px 0px rgba(51, 51, 51, 0.04);
        font-family: $heading-font;
        text-transform: capitalize;
        color: $heading-color;
        border-radius: 7px;

        @media (max-width: 1199px) {
            margin-bottom: 10px;       
        }

        @media (max-width: 767px) {
            padding: 10px;
            font-size: 13px;        
        }

        &.active, &:hover {
            background-color: $theme-color;
        }
    }

}

.case-grid-photos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 30px;

    @media (max-width: 767px) {
        grid-template-columns: 1fr;
        
    }
}

.case-study-post-wrapper {
    .case-details-content {
        margin-top: 40px;

        p {
            margin-bottom: 20px;
            margin-top: 10px;
    
            &:nth-child(1) {
                &::first-letter {
                    font-size: 20px;                    
                    color: #fff;
                    border-radius: 7px;
                    background-color: $theme-color;
                    box-shadow: 0px 10px 30px 0px rgba(8, 106, 215, 0.5);
                    padding: 20px;                    
                    line-height: 1;                   
                    margin-right: 15px;
                    float: left;
                    overflow: hidden;
                    font-weight: 700; 
                    text-transform: uppercase;                   
                }
            } 
        }

        ul {
            margin-top: 20px;

            li {
                color: $heading-color;
                margin-top: 8px;
                padding-left: 30px;
                font-weight: 700;
                
                &::before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    content: "\f058";
                    font-family: $fa;
                    font-size: 20px;
                    color: $second-color;
                }
            }
        }

    }

}


.case-info-card {
    border-radius: 7px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0px 10px 60px 0px rgba(212, 212, 212, 0.38);
    margin-top: -70px;
    position: relative;

    @media (max-width: 991px) {
        margin-top: 30px;
    }

    .case-head { 
        padding: 20px 35px;
        background-color: $second-color;

        h3 { 
            color: #fff;
            margin-bottom: 5px;
            padding-top: 5px;
        }
    }

    .project-data { 
        padding: 35px;

        .single-info-item { 
            display: grid;
            grid-template-columns: 30% 65%;
            grid-template-rows: auto;
            grid-gap: 50px;
            margin-bottom: 10px;

            .left-data { 
                color: $heading-color;
                position: relative;
                font-weight: 600;
                font-family: $heading-font;

                &::before {
                    position: absolute;
                    right: -10px;
                    content: ":";
                }
            }

            .right-data { 
                color: $second-color;
                font-weight: 700;
            }

            .social-link {
                a {
                    display: inline-block;
                    margin: 0px 4px;
                    color: $theme-color;
                    font-weight: 400;

                    &:hover {
                        color: $second-color;
                    }
                }
            }
        }
    }
}

.project-case-study {
    padding: 0px 30px;

    &.owl-carousel {
        .owl-item {
            &.center {
                .single-project-card { 

                    .contents { 
                        opacity: 1;
                        visibility: visible;
                        bottom: 30px;
                    }
                }
            }
        }
    }

    .single-project-card { 
        -webkit-clip-path: polygon(13% 0, 100% 0, 100% 100%, 52% 100%, 0 100%, 0 14%);
        clip-path: polygon(13% 0, 100% 0, 100% 100%, 52% 100%, 0 100%, 0 14%);
        position: relative;
        margin-top: 30px;

        .case-thumb { 
            height: 530px;

            @media (max-width: 585px) {
                height: 400px;
            }

        }
    
        .contents { 
            width: 90%;
            background-color: #fff;
            border-radius: 7px;
            position: absolute;
            left: 50%;
            bottom: 0px;
            transform: translateX(-50%);
            z-index: 9;
            padding: 30px;
            opacity: 0;
            visibility: hidden;
            transition: all .3s ease-in-out;

            @media (max-width: 585px) {
                width: 95%;

                p {
                    font-size: 15px;
                    line-height: 140%;
                }
            }

            h3 { 
                margin-bottom: 20px;

                @media (max-width: 585px) {
                    margin-bottom: 10px;
                }
            }
    
            .theme-btn { 
                margin-top: 20px;

                @media (max-width: 585px) {
                    margin-top: 15px;
                }
            }
        }
    }

    .owl-dots {
        margin-top: 30px !important;
        margin-bottom: -10px;

        .owl-dot { 
            border-width: 3px;
            border-color: transparent;
            border-style: solid;
            border-radius: 50%;
            width: 24px;
            height: 24px;
            display: inline-block;
            line-height: 24px;
            box-sizing: border-box;
            text-align: center;
            position: relative;
            margin: 0px 5px;
            transition: all .3s ease-in-out;

            &:hover, &.active {
                border-color: $second-color;

                span {
                    background-color: $second-color;
                }
            }
    
            span { 
                background-color: #dae9f9;
                margin: 0;
                line-height: 24px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 50%;
                margin-left: -5px;
                transition: all .3s ease-in-out;
            }
        }
    }
}